.content-wrapper {
  margin-left: 1rem;
  margin-top: 40px;
}

.side-buttons-container {
  position: relative;
  top: 2.6rem;
}
.budgetify__main {
  display: flex;
  justify-content: space-between;
}
