<div
  class="transaction-item"
  style="margin-bottom: 25px"
  *ngFor="let transaction of transactionService.transactionsCards"
>
  <div class="top-wrapper">
    <div class="transaction-item__category">
      {{
        transaction.category.length > 11
          ? (transaction.category | slice: 0:10) + '...'
          : transaction.category
      }}
    </div>
    <p class="transaction-item__title">
      {{
        transaction.title.length > 35
          ? (transaction.title | slice: 0:35) + '...'
          : transaction.title
      }}
    </p>
    <div class="transaction-item__amount">{{ transaction.amount }}$</div>
  </div>
  <div class="bottom-wrapper">
    <div class="transaction-item__icon">
      <mat-icon>{{
        transactionService.transactionIcon(transaction.type)
      }}</mat-icon>
    </div>
    <ul>
      <li>{{ transaction.type }}</li>
      <span>.</span>
      <li>{{ transaction.dateOfPayment }}</li>
      <span>.</span>
      <li>{{ transaction.payee }}</li>
    </ul>
  </div>
</div>
